PORT=4000
WATSONX_API_KEY=your_api_key_here
WATSONX_PROJECT_ID=97d008c4-bfb5-471a-a1fa-2d0c5f2fadfa
WATSONX_URL=https://us-south.ml.cloud.ibm.com/ml/v1/text/generation?version=2023-05-29
WATSONX_MODEL_ID=ibm/granite-3-3-8b-instruct
